:root {
    --bg-light: #ffffff;
    --text-light: #ffffff;
    --accent: #898989;
    --secondary: hsl(0, 0%, 32%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
    text-align: justify;
}

nav {
    padding: 0.5rem;
    background-color: var(--accent);
    text-align: center;
}

nav a {
    font-family: 'Roboto';
    color: var(--bg-light);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

nav a:hover, main a:hover {
    color: var(--text-light);
}

main {
    text-justify: inter-word;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--accent);
    color: var(--bg-light);
}

header {
    color: var(--accent);
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-family: 'Roboto';
}

button {
    background: #5f7899;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #809fc7;
}

#tiny {
    font-size: 70%;
}

.container {
    margin: 10px;
    text-align: center;
}

.configs {
    padding-top: 10px;
}

.checkbox-list {
    line-height: 2;
    align-items: center;
}

.checkbox-box {
    background: #809fc7;
    color: #364c69;
    border-radius: 10px;
    padding: 5px;
    transition: background 0.2s;
}

.checkbox-box:hover {
    background: #9fbee6;
}

.checkbox-box input[type="checkbox"] {
    accent-color: #364c69;
    transform: scale(1.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px;
    color: #223042;
}

table, th, td {
    border: 1px solid #5f7899;
}

th, td {
    padding: 0.5px;
    text-align: left;
}

th {
    background: #809fc7;
    text-align: center;
}